html ,body{
  margin: 0;
  padding: 0;
}
.guestWelcome{
  color: #dfdfdf;
  text-shadow: 1px 2px #000000;
  letter-spacing: 2px;
  font-size: 1.02em;
  font-family: inherit;
  text-transform: capitalize;
  margin: 0;
}
.userWelcome{
  color: #ffed48;
  text-shadow: 1px 2px #000000;
  letter-spacing: 2px;
  font-size: 1.02em;
  font-family: inherit;
  text-transform: capitalize;
  margin: 0;
  vertical-align: -webkit-baseline-middle;
}
.avatar{
  width: 70px;
  border: 1px solid whitesmoke;
  border-radius: 13px;
  max-height: 50px;
}
.profileImg{
border-radius: 8px;
box-shadow: 3px 3px 5px;
}
.NavbarComp {
  background-color: #354166!important;
  height: 70px;
  box-shadow: 2px 6px 4px #303030;
}
.Navlogo{
  width: 25%;
}
a.navbar-brand {
margin: 0;
justify-content: center;
display: flex;
align-items: center;
}
a.nav-link {
  color: rgba(255, 255, 255, 0.82);
}
a.nav-link:hover {
  color: rgb(255, 255, 255);
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  background-color: #354166!important;
    color: #fdfdfd;
  z-index: 16;
}