.football {
    /* background-color: violet;
     */
     background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://cdn.pixabay.com/photo/2015/09/02/13/01/stadium-918830_1280.jpg);
     background-attachment: fixed;
    color: white;
}

.video-div {
    width: 97%;
    height: 270px;
}

.main-div {
    display: flex;
    flex-flow: wrap; 
    justify-content: space-evenly;
}

.football-title {
    color: #1570B5;
    /* padding: 5px 0px 5px 39px; */
}

.each-game {
    width: 45%;
    height: 50%;
    margin-bottom: 30px;
    background-color: #D6D6D624;
    border-radius: 6px;
    box-shadow: 4px 6px 5px black;
}


@media only screen and (max-width: 800px)
{
    .each-game {
        width: 90%;
        height: 50%;
        margin-bottom: 30px;
    }
}