.FightersDetails{
    width: 81%;
    background-color: #fafafa;
    z-index: 15 !important;
    position: fixed;
    top: 8%;
    box-sizing: border-box;
}
.FightersDetails h1 , h3{
text-align: left;
}



.FightersDetails_img{
    width: 30%;
    display: inline-block;
    border: 3px solid rgb(0, 0, 0);
    margin: 0px 12% 0 3%;
    align-self: end;
    background-color: black;
    border-radius: 6px;
    box-shadow: 3px 3px 10px black;
}
.FightersDetails_img img{
    width: 74%;
    display: block;
    margin: 0 auto;
}
.FightersDetails_flex{
    display: flex;
    height: 100%;
}
.FightersDetails .FightersDetails_Icon{
    text-align: center;
    font-size: 25px;
    padding: 5px 0;
    opacity: .4;
    width: 10%;
    margin: 0 auto;
    transition: all .5s;
    cursor: pointer;
}
.FightersDetails .FightersDetails_Icon:hover{
    transform: scale(.5);
    margin: 0 auto;
}