.Forum{
    min-height: 100vh;
    background-color: #15202B;
    
    } 
.Forum_forum{
  margin: 0px  auto;
  color: white;
  padding: 80px 10px;
  /* border: 1px solid rgb(199, 199, 199); */
  overflow: overlay;
  text-align: center;
  width: 75%;
}
.Forum_posts_singlePost{
  border: 3px solid #15ac5973;
  box-shadow: 4px 4px black;
  color: white;
  border-radius: 7px;
  width: 95%;
  text-align: center;
  margin: 10px auto;
  transition: all .4s;
  position: relative;
}
.Forum_posts_singlePost:hover{
  background-color: #192734 ;
}


.Forum .post{
  border: 1px solid white;
  box-shadow: 2px 2px 5px grey;
  padding: 1%;
  width: 45%;
  left: 50%;
  transform: translate(-50%, 10px);
  text-align: center;
  position: fixed;
  background-color: black;
  border-radius: 10px;
  z-index: 4;
  }

  .Forum .post input{
    margin: 0;
  }
  .UpdatePost{
    border: 2px solid blue;
    width: 45%;
    left: 50%;
    transform: translate(-50%, 10px);
    text-align: center;
    position: fixed;
    background-color: rgb(83, 172, 255);
    z-index: 4;
  }
  .UpdatePost input{
    margin: 0;
  }

   
  .addComment{
    cursor: pointer;
    background-color: aqua;
    width: 30%;
    margin: 0 auto;
  }
  .singleComment{
    border-bottom: 1px solid whitesmoke;
    border-radius: 13px;
    background-color: #8d8d8d1f;
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
    align-items: center;
    transition: all .4s;
    width: 95%;
    margin: 0 auto;
  }
  .singleComment p{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10px);
  }
  .singleComment:hover{
    background-color: #7e8a9741;
    transform: scale(1.03);
  }

  .Forum_posts_singlePost .card-header{
    border-radius: 0;
    padding: 5px;
    margin-bottom: -1px;
    background-color: #1e2730;
    }

  .Forum_posts_singlePost .card button{
    border: .8px solid;
    margin: 0;
    background-color: transparent;
    color: #15AC59;
    font-weight: 500;
    border-radius: 35px;
    text-decoration: none;
  }

.Forum_posts_userImage img{
     width: 140px;
    height: 140px;
    padding: 2%;
    border-radius: 70px;
    display: flex;
    border-bottom: 1px solid blueviolet;
    box-shadow: 1px 1px 3px white;
}
.Forum_posts_userImage h4{
  text-align: center;  
}

.Forum_posts_userImage{
  top: 8px;
  background-color: #dddddd21;
  display: inline-block;
  position: absolute;
  text-align: -webkit-center;
  left: 1%;
  border-radius: 26px;
  padding: 4px;
  box-sizing: border-box;
}

.Forum_posts_singlePost .content{
  min-height: 160px;
}

.Forum_guest{
  color: darkred;
  text-align: center;
  border: 2px solid cornflowerblue;
  width: 70%;
  margin: auto;
  padding: 5%;
  position: relative;
  top: 80px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
}
.Forum_guest a{
  padding: 10px;
  background-color: black;
  color: white;
  box-shadow: 1px 1px 5px;
  margin: 0px 16px;
  width: 200px;
  display: inline-block;
  text-decoration: none;
}
.Forum_guest h1{
  margin: 0 0 40px 0;
}
.Forum_writePost{
  border: 1px solid #15AC59;
    width: 95%;
    margin: auto;
    transition: all .4s;
    border-radius: 5px;
}
.Forum_writePost:hover{
 background-color: #15AC59;
}

.Forum_writePost button{
  border: none;
  border-radius: 4px;
  background-color: #6161611c;
  height: 50px;
  margin: 4px;
  width: 45%;
  border: .5px solid #15AC59;
  color: white;
  font-size: 2em;
  box-shadow: 1px 1px 3px black;
}

.Forum_posts .subjectImg{
  width: 90%;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 5px;
  margin: 0 auto 10px auto;
}
.Forum_posts_mainContent{
  width: 82%;
  margin: 172px auto 18px auto;
}

.NewComment .card-body{
  border: none;
  outline: none;
  background-color: #34495e;
  padding: 8px;
}
.NewComment .card-body input{
  width: 40%;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}
.NewComment .card-body button{
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  width: 65px;
}

.commnetatorImage{
  width: 45px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0 10px;
}

.dropdown{
  position: absolute;
  right: 1%;
  
}
.dropdown button{
  border-radius: 15px;
  background-color: #00000021;
  border: 2px solid #15AC59;
}
.dropdown button:hover{
  background-color: #000000;
  border: 2px solid #15AC59;
  }
.commentsIcon {
  width: 45px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px aliceblue;
}
.fa-trash{
  color: #cd6565;
  font-size: 1.2em;
  cursor: pointer;
  text-shadow: 1px 1px #110a0a;
  transition: all .3s;
  margin: 0 20px;
  padding: 6px;
}
.fa-trash:before {
  content: "\f1f8";
  margin: 0 10px;
}
.fa-trash:hover{
  background-color: rgba(5, 3, 3, 0.308);
  border-radius: 10px;
}
 
.card{
  border:  none;
}
.Forum_posts_title {
  position: relative;
  top: 65px;
  letter-spacing: 6px;
  font-family: initial;
  font-size: 3em;
  margin: 0 auto;
  padding: 0;
  border-bottom: 2px solid white;
  box-shadow: 0px 1px 2px black;
  border-radius: 19px;
  width: 50%;
}

/* Media Query ____________________________________________________________________________________________________*/
@media only screen and (max-width: 960px) {
  .Forum_posts_title {
    position: relative;
    top: 65px;
    left: 5px;
    letter-spacing: 6px;
    font-family: initial;
    font-size: 2em;
    margin: 0 auto;
    padding: 0;
    border-bottom: 2px solid white;
    box-shadow: 0px 1px 2px black;
    border-radius: 19px;
    width: 40%;
}
}

@media only screen and (max-width: 731px) {

.Forum_forum{
  margin: 0 auto;
  color: white;
  padding: 10px 10px;
  border: 1px solid rgb(199, 199, 199);
  overflow: overlay;
  text-align: center;
  width: 95%;
}
.singleComment {
  border-bottom: 1px solid whitesmoke;
  border-radius: 13px;
  background-color: #8d8d8d1f;
  display: flex;
  justify-content: space-between;
  padding: 10px 4px;
  align-items: center;
  transition: all .4s;
  width: 95%;
  margin: 0 auto;
}
.commnetatorImage {
  width: 40px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0px 5px;
  display: block;
}
.Forum_posts_mainContent {
  width: 89%;
  margin: 130px auto 18px auto;
}
.Forum_posts .subjectImg {
  width: 100%;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 5px;
}
.Forum_writePost button {
  border: none;
  border-radius: 4px;
  background-color: #6161611c;
  height: 50px;
  margin: 4px;
  width: 65%;
  border: .5px solid #15AC59;
  color: white;
  font-size: 2em;
  box-shadow: 1px 1px 3px black;
}
.Forum_posts_userImage img {
  width: 80px;
  height: 80px;
  padding: 2%;
  border-radius: 70px;
  display: flex;
  border-bottom: 1px solid blueviolet;
  box-shadow: 1px 1px 3px white;
}
.Forum_posts_userImage h4 {
  text-align: 1em;
}
}

@media only screen and (max-width: 564px) {
  .Forum_posts_title {
    position: relative;
    top: 65px;
    left: 13px;
    letter-spacing: 6px;
    font-family: initial;
    font-size: 2em;
    margin: 0 auto;
    padding: 0;
    border-bottom: 2px solid white;
    box-shadow: 0px 1px 2px black;
    border-radius: 19px;
    width: 40%;
}


.Forum_posts_singlePost h4:nth-child(3){
  font-size: 1.1em;
}
.Forum_posts_singlePost h4:nth-child(2){
  font-size: 1em;
}
.commentsIcon {
  display: none;
}
.singleComment {
  border-bottom: 1px solid whitesmoke;
  border-radius: 13px;
  background-color: #8d8d8d1f;
  display: flex;
  justify-content: space-between;
  padding: 10px 4px;
  align-items: center;
  transition: all .4s;
  width: 95%;
  margin: 0 auto;
}
.fa-trash {
  color: #cd6565;
  font-size: 1em;
  cursor: pointer;
  text-shadow: 1px 1px #110a0a;
  transition: all .3s;
  margin: 0 9px;
  padding: 3px;
}

}