
.images {
  background-color: #f5f5f5bd;
  height: 80%;
  width: 70%;
  margin: 0% auto;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  top: 45px;
}

.images > a > img {
  width: 20%;
  display: inline-block;
  margin: 7px 15px;
  padding: 5px;
}

.fun-logo {
  width: 20%;
}

.football-logo{
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
}

/* ITALY */
.images > .football-logo > a > img:nth-child(1) {
    width: 10%;  
}

/* ENGLAND */
.Premier-League  {
    width: 15%;
    border: solid 1px red;
}
/* SPAIN */
.images > .football-logo > img:nth-child(3) {
    width: 14%;
}

.Homepage.frame {
  background-color: #eee;
  background-position: center;
  background-size: cover;
  animation: image 35s infinite linear;
  min-height: 90vh;
  width: 100%;
  margin: 0;
  }
  
@keyframes image 
{
    0% {
      background-image: url('./HomeImages/Dortmound.png');
    }  
    20% {
        background-image: url('./HomeImages/RonaldoMessi.png');
      }  
      40% {
        background-image: url('./HomeImages/KhabibMcCgregor.png');
      }  
      60% {
        background-image: url('./HomeImages/Octagon.png');
      }  
      80% {
        background-image: url('./HomeImages/Jordan.png');
      }  
    100% {
        background-image: url('./HomeImages/NbaARena.png');
      }
    
}

.welcome-para {
  margin-bottom: 0px;
  padding: 0 5px;
}

@media only screen and (max-width: 650px)
{
    .welcome-para {
        font-size: 90%;
    }
}