/* .Carousel.Caption > .p-slider {
    font-weight: bold;
    color: blue;
} */

/* carousel-caption > .p-slider {
    color: blue;
} */

.carousel-caption > p {
    color: red;
    color: #c00000;
    font-weight: bold;
    font-size: 110%;
}