/* .Carousel.Caption > .p-slider {
    font-weight: bold;
    color: blue;
} */

/* carousel-caption > .p-slider {
    color: blue;
} */

.carousel-caption > p {
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
    font-weight: bold;
    font-size: 1.2em;
}