 .homepage-link {
    padding: 3px;
}

.images {
  background-color: #f5f5f5bd;
  height: 80%;
  width: 75%;
  margin: 0% auto;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.images > img {
  width: 20%;
  /* height: 150px; */
  display: inline-block;
  margin: 5px auto;
  padding: 5px;
}
.justify-content-center{
    justify-content: center!important;
    background-color: #00000075;
    /* color: white; */
    height: 80px;
    align-items: center;
    font-size: 1.7em;
    transition: all 1.6s;
}
.justify-content-center:hover{
    background-color: #050505d2;
}
a.nav-link{
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 4px;
    font-family: inherit;
    font-weight: 200;
    background-color: transparent;
    transition: all .4s;

}
a.nav-link:hover{
    transform: scale(1.2);
}
.Homepage_logo{
  height: 30%;
  width: 20%;
  margin: 0 auto;
}
.Homepage_logo img{
height: 100%;
width: 100%;
}
.football-logo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.images > .football-logo > img:nth-child(1) {
    /* width: 170px;
    height: 150px; */
    width: 10%;  
      /* height: 200px; */
}
.images > .football-logo > img:nth-child(2) {
    /* height: 170px;
    width: 230px; */
     /* height: 215px; */
     width: 20%;
}
.images > .football-logo > img:nth-child(3) {
    /* width: 170px;
    height: 170px; */
    width: 14%;
}
.Homepage.frame {
  height: 90vh;
  width: 90vw;
  margin: 5vh 5vw;
  background-color: #eee;
  background-position: center;
  background-size: cover;
  animation: image 35s infinite linear;
  height: 100vh;
  width: 100%;
  margin: 0;
  }
  
  @keyframes image {
    0% {
      background-image: url('./HomeImages/Dortmound.png');
    }  
    20% {
        background-image: url('./HomeImages/RonaldoMessi.png');
      }  
      40% {
        background-image: url('./HomeImages/KhabibMcCgregor.png');
      }  
      60% {
        background-image: url('./HomeImages/Octagon.png');
      }  
      80% {
        background-image: url('./HomeImages/Jordan.png');
      }  
    100% {
        background-image: url('./HomeImages/NbaARena.png');
      }
    
  }