.MainCarusel_slideshow {
  width: 80%;
  margin: 8% auto;
  overflow: hidden;
  border: solid 1px #120f0f;
}

.MainCarusel_slideshow-container {
  width: 2500px;
  font-size: 0;
  transition: 1s ease;
  height: 225px;
}

.MainCarusel_slideshow-container:hover {
  animation-play-state: paused;
}

.MainCarusel_slideshow img{
  width: 15%;
  height: auto;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.MainCarusel_text-container {
  height: 225px;
  display: inline-block;
  position: relative;
}


.MainCarusel_slideshow p {
  position: relative;
  top: -45%;
  padding: 5px;
}

.MainCarusel_slideshow .slide {
  animation: slide 24s ease infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  
  12.5% {
    transform: translateX(0%);
  }
  
  25% {
    transform: translateX(-25%);
  }
  
  37.5% {
    transform: translateX(-25%);
  }
  
  50% {
    transform: translateX(-50%);
  }
  
  62.5% {
    transform: translateX(-50%);
  }
  
  75% {
    transform: translateX(-75%);
  }
  
  87.5% {
    transform: translateX(-75%);
  }
  
  99% {
    transform: translateX(-75%);
  }
  
  100% {
    transform: translateX(0);
  }
}

.p {
  margin-top: 140px;
  text-align: center;
}