.FightersDetails{
    width: 84%;
    z-index: 15 !important;
    position: fixed;
    top: 7.8%;
    box-sizing: border-box;
    background-color: #707070f1;
    line-height: .9;
}
.FightersDetails h1 , h3{
text-align: left;
}

.FightersDetails .FightersDetails_Icon{
    text-align: center;
    font-size: 25px;
    padding: 5px 0;
    opacity: .4;
    color: darkred;
    width: 10%;
    margin: 0 auto;
    transition: all .5s;
    cursor: pointer;
}
.FightersDetails .FightersDetails_Icon:hover{
    transform: scale(1.2);
    opacity: 1;
}
.FightersDetails_img{
    width: 30%;
    /* height: 70%; */
    display: inline-block;
    border: 3px solid rgb(0, 0, 0);
    margin: 0px 12% 0 3%;
    align-self: end;
    background-color: black;
    border-radius: 6px;
    box-shadow: 3px 3px 10px black;
}
.FightersDetails_img img{
    width: 74%;
    display: block;
    margin: 0 auto;
}
.FightersDetails_flex{
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    overflow: overlay;
}
.FightersDetails_Table{
    max-height: 37%;
    max-height: 220px;
    overflow: overlay;
    border: 2px solid #626262;
    margin: 8px 0;
}
.FightersDetails .table {
    width: 90%;
    margin-bottom: 1rem;
    margin: 0 auto;
    color: #212529;
}

@media only screen and (max-width: 950px)
{
    .FightersDetails_flex {
        display: inline-block;
        text-align: center;
        height: 500px;
        width: 100%;
        box-sizing: border-box;
        overflow: overlay;
    }
    .FightersDetails h1 , h3{
        text-align: center;
        }
        .FightersDetails {
            width: 95%;
            z-index: 15 !important;
            position: fixed;
            top: 7.8%;
            box-sizing: border-box;
            background-color: #707070f1;
            line-height: .9;
        }
        
}

/* @media only screen and (max-width: 900px)
{
    p {font-size: 80%}
    h1 {font-size: 185%}
    h4 {font-size: 125%}
}

@media only screen and (max-width: 750px)
{
    p {font-size: 70%}
    h1 {font-size: 170%}
    h4 {font-size: 110%}
    .FightersDetails_img {display: none;}
} */