.Login {
    margin-top: 15px;
    padding: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://cdn.pixabay.com/photo/2016/11/29/02/05/audience-1866738_1280.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    min-height: 100vh;
    margin: 0;
}
.Login h2 {
    text-align: center;
    background-color: inherit;
}
.Login_form{
    padding: 50px;
    width: 60%;
    margin: 0 auto;
}

.Login button {
    cursor: pointer;
}
